{% extends "base.html" %}
{% block title %}Liste des Auteurs{% endblock %}
{% block content %}
<h2>Liste des Auteurs</h2>

<ul>
{% for author in authors %}
<li>
    <a href="{% url 'authors:author_detail' author.id %}">{{ author.name }}</a>
    {% if author.image %}
         <img style='height:50px; width : 50px' src="{{ author.image.url }}" alt="Image de {{ author.name }}" />
    {% endif %}
    <a href="{% url 'authors:delete_author' author.id %}">Supprimer</a>
    <a href="{% url 'authors:update_author' author.id %}">Modifier</a>

</li>
{% endfor %}
</ul>
<!-- Lien pour ajouter un auteur avec des données factices -->
<a href="{% url 'authors:add_author' %}">Ajouter un auteur</a>
{% endblock %}